.tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  position: absolute;
  bottom: -26px;
  left: -1px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px 5px;
  font-size: .88rem;

  background: $second-black;
  border: 1px solid $white-transp;
  transition: all .3s linear;
  cursor: pointer;
}

[data-tab="confirmed"] {
  &.active, &:hover {
    background: $blue;
    transition: all .3s linear;
  }
}
[data-tab="recovered"] {
  &.active, &:hover {
    background: $green;
    transition: all .3s linear;
  }
}
[data-tab="deaths"] {
  &.active, &:hover {
    background: $red;
    transition: all .3s linear;
  }
}