$black: #000000;
$second-black: #222222;
$light-black: #404040;
$light-black-transp: rgba(#404040, .9);

$dark-gray: #5c5c5c;

$white: #ffffff;
$white-transp: rgba(255, 255, 255, .5);

$red: rgb(230, 0, 0);
$blue: #2493f2;
$green: #70a800;