.bars {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  flex-basis: 50%;

  margin-bottom: 10px;
}

.left__bar {
  width: 100%;
  max-width: 49%;
  
  margin-right: 5px;

  background: $second-black;
  border: 1px solid $white-transp;
}

.right__bar {
  width: 100%;
  max-width: 49%;

  background: $second-black;
  border: 1px solid $white-transp;
}